name: crates

on:
  release:
    types: [ published ]

jobs:

  crates:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

    - name: Toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Publish
      uses: actions-rs/cargo@v1
      with:
        command: publish
        args: --token "${{ secrets.CRATES_TOKEN }}" --allow-dirty